# Dependencies
node_modules/
frontend/node_modules/

# Python
backend/venv/
backend/__pycache__/
__pycache__/
*.pyc

# Expo
frontend/.expo/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Env
.env
